.rating__stars-0 { width: 0%; }
.rating__stars-20 { width: 20%; }
.rating__stars-40 { width: 40%; }
.rating__stars-60 { width: 60%; }
.rating__stars-80 { width: 80%; }
.rating__stars-100 { width: 100%; }
